<h2>Users</h2>
<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="disabled">
    <th mat-header-cell *matHeaderCellDef> Disabled </th>
    <td mat-cell *matCellDef="let element"> {{element.disabled}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-button color="primary" (click)="showUserForm = true">Create User</button>
<div *ngIf="showUserForm">
  <h2>Create User</h2>
  <form [formGroup]="userForm">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">

    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSave()">Save</button>
  </form>
</div>
